.app-shell {
  min-height: 100vh;
}

.app-shell__content {
  padding-top: 175px;
  padding-left: 159px;
  padding-right: 48px;
  padding-bottom: 48px;
}

@media (max-width: 767px) {
  .app-shell__content {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 56px;
  }
}