.app-shell {
  min-height: 100vh;
}

.app-shell__content {
  padding-top: 140px;
  padding-left: 160px;
  padding-right: 40px;
}

@media (max-width: 1024px) {
  .app-shell__content {
    padding-left: 0;
    padding-top: 120px;
    padding-inline: 32px;
  }
}

@media (max-width: 767px) {
  .app-shell__content {
    padding-top: 104px;
    padding-inline: 24px;
  }
}