.invoice-list-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 56px;
}

.invoice-list-page__actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.invoice-list-page__title {
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1.13px;
  margin-bottom: 8px;
}

.invoice-list-page__subtitle {
  color: var(--color-text-secondary);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.invoice-list-page__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 767px) {
  .invoice-list-page__header {
    gap: 16px;
    margin-bottom: 32px;
  }

  .invoice-list-page__actions {
    gap: 18px;
  }

  .invoice-list-page .button__label {
    font-size: 0;
  }

  .invoice-list-page .button__label::after {
    content: 'New';
    font-size: 15px;
  }
}

.invoice-list-page__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

